:root{
    --background-color: #f6f6f6;
    --surface-color: #f6f6f6;
    --text-color: rgba(0, 0, 0, 0.5);
    --nav-shadow: 0.1;
    --hover-shadow: 0.75;
}

body{
    display: flex;
    background-color: var(--background-color);
}

nav{
    background-color: var(--background-color);
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;  
    gap: 16px;
    position:  fixed;
    left: 5px;
    width: calc(100vw - 10px);
}

.nav-shadow{
    display: flex;
    width: 100vw;
    height: 55px;
    left: 0px;
    top: 5px;
    position:  fixed;
    box-shadow: 0 4px 6px rgba(0,0,0, var(--nav-shadow));
}

.search{
    width: 80vw;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 14px;
    height: 18px;
    background: var(--background-color);
    transition: box-shadow 0.25s;
}

.search-input{
    flex: 1;
    min-width: 0;
    font-size: 16px;
    color: var(--text-color);
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}

/*.search:hover{
    box-shadow: 0 0 2px rgba(0,0,0, var(--hover-shadow));
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0,0,0, var(--hover-shadow));
}*/

.material-symbols-outlined{
    color:var(--text-color);
}

.material-symbols-outlined:hover{
    cursor: pointer;
}


.account-image{
    width: 45px;       
    height: 45px;     
    border-radius: 50%; 
    aspect-ratio: 1/1;
    object-fit: cover;  
}

.account-image:hover{
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0, 0.75);
}

main{
    margin: 60px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item{
    background-color: var(--background-color);
    width: 98vw;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    gap: 16px;
    transition: all 0.3s ease-in;
}

.item:hover{
    cursor: pointer;
    background-color: var(--surface-color);
}

.item-image{
    padding: 5px;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.item-text{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.item-title{
    font-size: 32px;
    margin: 0;
}